html,
body,
.container {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.MainSlider {
    grid-area: slider;
}

header {
    grid-area: header;
    position: sticky;
    opacity: .7;
    top: .1px;
    z-index: 100;
    background: black;
}

header img {
    width: 10%;
}

main {
    grid-area: main;
}

aside {
    grid-area: sidebar;
}

footer {
    grid-area: footer;
}

.container {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 7% auto auto 10%;
    grid-template-areas: 
    "header header" 
    "slider slider" 
    "main sidebar" 
    "footer footer";
}